.mi-checkbox-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0;
}

.mi-checkbox-group-small {
  min-height: var(--mi-form-item-height-small);
}

.mi-checkbox-group-medium {
  min-height: var(--mi-form-item-height-medium);
}

.mi-checkbox-group-large {
  min-height: var(--mi-form-item-height-large);
}

.mi-checkbox-group .mi-checkbox-group-x {
  flex-direction: row;
}

.mi-checkbox-group .mi-checkbox-group-y {
  flex-direction: column;
  align-items: flex-start;
}
