.date-picker {
  display: inline-block;
  width: 300px;
  padding: 20px;
  background: var(--mi-bgcolor-0);
  border: var(--mi-border-3);
  border-radius: var(--mi-border-radius);
  box-shadow: var(--mi-box-shadow);
  user-select: none;

  &__content {
    display: grid;
    row-gap: 5px;
    place-items: center;

    &--date {
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: repeat(7, 1fr);
    }

    &--default {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.date-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: var(--mi-text-color-9);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;

  &--disabled {
    cursor: default;
  }

  &--this-month {
    color: var(--mi-text-color-0);

    &:hover {
      color: #fff;
      background-color: var(--mi-primary-color);
    }
  }

  &--selected {
    color: #fff;
    background-color: var(--mi-primary-color);
  }
}
